[defaults]
host_key_checking = False
roles_path = ./roles:~/ansible/roles:/etc/ansible/roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
