[Unit]
Description=Nomad
Documentation=https://nomadproject.io/docs/

[Service]
ExecStart={{ nomad_install_dir }}/nomad agent -config {{ nomad_config_dir }}
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
